body{
    background-color: rgb(192, 192, 192);
    margin: 0;
    overflow: hidden;
}


#i30{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 1000px;
    top: 40px;
    left: 1050px;
}

#i31{
    width: 230px;
    height: 290px;
    position: absolute;
    left: 280px;
    top: 320px;
}

#i32{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 290px;
    left: 1000px;
}

#i33{
    width: 300px;
    height: 350px;
    position: absolute;
    top: 240px;
    left: 50px;
}


#i39{
    width: 400px;
    height: 500px;
    position: absolute;
    top: 10px;
    left: 600px;
}

#i40{
    width: 400px;
    height: 500px;
    position: absolute;
    top: -115px;
    left: 200px;
}